#menuButton {display: block; margin-left: 15px; margin-top: 10px; float: left;}
#decoButton {display: block; margin-right: 15px; margin-top: 10px; float: right;}
#semaine {
  display: inline-block; margin-right: auto; margin-left: auto; text-align: center;
  width: 85%; margin-top: 15px; vertical-align: middle;
}
#semaine div { display: inline; }
#semaine span {margin-right: 10px; margin-left: 10px; margin-top: 5px; font-size: 20px; cursor: pointer;}
#semaine span:hover {text-shadow: 0px 0px 15px #000000; color: white;}

#content {
	background: lightgray;
	display: block;
	margin-top: 55px;
}

#userPanel {margin-top: 20px;}
#changeUserColor {background-color: #eee;}
#userList {margin-top: 20px;}
#userList li:hover {background-color: #C1F0F6;}

#eventPanel {
	display: block;
	float: right; margin-right: 20px; margin-top: 20px;
	background: #dcdcdc;
}

#center {text-align: center; margin-left: 25px; margin-right: 25px;}